DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
HF_ENDPOINT=https://hf-mirror.com

AUDD_API_TOKEN=your audd api token

VOLC_ACCESS_KEY_ID=your_volcengine_access_key_id
VOLC_SECRET_ACCESS_KEY=your_volcengine_secret_access_key
VOLC_HOST=open.volcengineapi.com
VOLC_REGION=cn-beijing
VOLC_SERVICE=imagination
VOLC_SONG_ACTION=GenSongForTime
VOLC_SONG_VERSION=2024-08-12
VOLC_MODEL_VERSION=v4.3

VOLC_POLL_INTERVAL=2
VOLC_TASK_TIMEOUT=240
LYRA_GENERATED_DIR=static/generated
